<!DOCTYPE html>
<html lang="en">
	{{template "header.html"}}
<div id="active">
	<table class="table table-striped">
		<tr>
		  <th><p class="green lead text-center">Stock</p></th>
		  <th><p class="lead text-center">Initial price</p></th>
		  <th><p class="lead text-center">Sold price</p></th>
		  <th><p class="lead text-center">Progress</p></th>
			<th><p class="lead text-center">User</p></th>
		</tr>
		{{range $stock := .Posts}}
		<tr>
		  <td><p class="lead text-center">{{$stock.Stock.Name}}<p></td>
		  <td><p class="lead text-center"> {{$stock.Stock.BuyPrice}}</p></td>
		  <td><p class="lead text-center">{{$stock.Stock.SalesPrice}}</p></td>
		  <td{{if eq .Stock.Color "green"}} class="bg-success"{{else}} class="bg-danger"{{end}}><p class="lead text-center">{{$stock.Stock.Progress}}</p></td>
			<td><p class="lead text-center">{{$stock.StockUser.Name}}</p></td>
		</tr>
		{{end}}
	</table>
</div>
</div>
{{template "footer.html"}}
