<!DOCTYPE html>
<html lang="en">
	{{template "header.html"}}
  <div>
  	<table class="table table-striped">
  		<tr>
  		  <th><p class="lead text-center">Stock<p></th>
  		  <th><p class="lead text-center">Initial price</p></th>
  		  <th><p class="lead text-center">Number of shares</p></th>
        <th><p class="lead text-center">User</p></th>
				<th><p class="lead text-center">Prospect</p></th>
  		  <th><p class="lead text-center">Submit</p></th>
  		</tr>
  		<tr>
  			<form action="submit" method="POST">
  			  <td><input type="text" class="form-control" id="stock" name="stock" placeholder="Stock symbol"></td>
  			  <td><input type="text" class="form-control" id="price" name="price" placeholder="Price"></td>
  			  <td><input type="text" class="form-control" id="qty" name="qty" placeholder="Qty"></td>
          <td><input type="text" class="form-control" id="user" name="user" placeholder="User"></td>
					<td><input type="checkbox" id="prospect" name="prospect" value="p"></td>
  			  <td><button class="btn btn-default" type="submit">Add</button></td>
  			</form>
  		</tr>
  	</table>
  </div>
{{template "footer.html"}}
