<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>linApp</title>
<link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="screen" charset="utf-8" />

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
<link rel='stylesheet' href='resources/css/app.css'>
<link rel='stylesheet' href='resources/css/flyout_button.css'>
<link rel='stylesheet' href='resources/css/flyout_menu.css'>

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script src='resources/scripts/flyout_menu.js' async></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div>
  	<table class="table table-striped">
  		<tr>
  		  <th><p class="lead text-center">Stock<p></th>
  		  <th><p class="lead text-center">Initial price</p></th>
  		  <th><p class="lead text-center">Number of shares</p></th>
  		  <th><p class="lead text-center">Submit</p></th>
  		</tr>
  		<tr>
  			<form action="submit" method="POST">
  			  <td><input type="text" class="form-control" id="stock" name="stock" placeholder="Stock symbol"></td>
  			  <td><input type="text" class="form-control" id="price" name="price" placeholder="Price"></td>
  			  <td><input type="text" class="form-control" id="qty" name="qty" placeholder="Qty"></td>
  			  <td><button class="btn btn-default" type="submit">Add</button></td>
  			</form>
  		</tr>
  	</table>
  </div>
</body>
</html>
